*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
}
html {
    background-color: rgb(243, 119, 47);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);

}

.outcome {
    grid-column: span 4;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    border: 1px solid white;
    word-wrap: break-word;
    word-break: break-all;
}

.second-screen {
    text-align: right;
    color: white;
    border-bottom: 1px solid white;
}

.btn-span {
    grid-column: span 2;
    background-color: rgba(98, 157, 245, 0.986);
    color: white;
    border: none;
    border-radius: 5%;
}

.btn-span:hover {
    background-color: rgba(243, 119, 47, 0.678);
}



